[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
isort = "*"
black = "*"
flake8 = "*"
pep8-naming = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"
asyncstdlib = "*"
httpx = "*"
elasticsearch = "*"
apscheduler = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
